extend ../layouts/layouts/other.pug


block content
    include ../components/back.pug
    include ../components/number-mini.pug
    include ../components/floors-slider.pug
    include ../components/liters.pug

    section(class="flex flex-col justify-between h-full grow ")
      .container.grow(class="flex flex-col px-0")
        div(class="home-card-about h-full grow flex ") 
          div(class="bg-gray-light hidden lg2:p-10  xl:p-10 lg2:flex lg2:flex-col lg2:gap-5 ")
            div(class="relative lg2:-left-2 xl:-left-5")
              +back('gray')
            div(class="flex flex-col justify-between h-full")
              div
                div(class="flex gap-5 lg2:flex-col mb-7.5")
                  div(class="flex")
                    +number-mini("197 м")
                    span(class="text-yellow font-reformagrotesk text-4xl xl:text-6xl mt-1 xl:mt-0")
                      |2
                  div(class="flex flex-col gap-2.5  lg2:flex-row lg2:gap-3 xl:gap-6 ")
                    h3(class="text-dark text-4xl lg2:text-5xl xl:text-5.25-5xl") ЛИТЕР 12
                    h3(class="text-dark text-4xl lg2:text-5xl xl:text-5.25-5xl") ТАУНХАУС №4
                div(class="grid mb-20 lg:mb-10 xl:mb-20  grid-cols-2 lg:grid-cols-4  lg2:grid-cols-2 gap-y-5") 
                  div 
                    h3(class="text-green text-5.25-5xl") 6.78
                    p(class=" text-dark text-base lowercase") s участка, сот

                  div 
                    h3(class="text-green text-5.25-5xl") 24
                    p(class=" text-dark text-base lowercase") гараж, м <sup>2</sup>

                  div 
                    h3(class="text-green text-5.25-5xl") 3
                    p(class=" text-dark text-base lowercase") этажа

                  div 
                    h3(class="text-green text-5.25-5xl") 3
                    p(class=" text-dark text-base lowercase") спальни
              button(class="button button_yellow") Узнать цену      

          //- div(class="bg-yellow -mx-5 px-5 py-15 lg:pt-20 xl:mx-0 xl:pl-32 xl:pt-30 xl:pr-10 xl:pb-12")
          div(class="bg-gray-light py-10 px-5 lg2:px-0 lg2:py-0 w-full")
            div(class="lg2:hidden") 
              +back('gray')(class="lg2:hidden")
              div(class="flex gap-2.5 mb-7.5 lg2:mb-0")
                button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
            
            div(class="swiper mainSwiper home-card-about__center home-card-about-slider -mx-5 xl:mx-0 mb-15 lg2:mb-0" id="what")
              div(class='swiper-wrapper')
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/fundament.jpg"), alt="fundament")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-10 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Фундамент 
                        p(class="text-gray normal-case") Свайный буронабивной железобетонный, с монолитным железобетонным ростверком
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/perekritie.jpg"), alt="perekritie")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Перекрытия
                        p(class="text-gray normal-case") Сборные многопустотные железобетонные плиты
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/steni.jpg"), alt="steni")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Несущие стены 
                        p(class="text-gray normal-case") Керамический блок толщиной 250-380 мм
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/peregodki.jpg"), alt="peregodki")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Внутренние <br> перегородки 
                        p(class="text-gray normal-case") Полнотелый кирпич и керамический блок толщиной 120 мм
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/lestnica.jpg"), alt="lestnica")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Внутренняя <br> лестница 
                        p(class="text-gray normal-case") Монолитный железобетон
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/fasad.jpg"), alt="fasad")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") фасад
                        p(class="text-gray normal-case") Декоративная штукатурка по фасадному утеплителю со вставками из планкена (дерево). Цоколь отделан мозаичной штукатуркой
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/krovla.jpg"), alt="krovla")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Кровля
                        p(class="text-gray normal-case") Двускатная, покрытая гибкой черепицей, утеплена базальтовым утеплителем плотностью не менее 28 кг/м3 
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/okna.jpg"), alt="okna")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Окна, Двери 
                        p(class="text-gray normal-case")  Оконные, витражные, дверные светопрозрачные конструкции из 5-ти камерного ПВХ-профиля шириной
                          | не менее 70 мм. Двухкамерные энергосберегающие стеклопакеты.
                          | Ограждения входных групп из окрашенного металла, крыльцо — окрашенный металлокаркас 
                          | с облицовкой террасной доской
          
            div(class="swiper mainSwiper home-card-about__center home-card-about-slider -mx-5 xl:mx-0 mb-15 lg2:mb-0" id="how" style="display:none")
              div(class='swiper-wrapper')
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/poli.jpg"), alt="poli")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Полы   
                        p(class="text-gray normal-case") Цементно-песчаная стяжка машинного типа толщиной 60±20 мм. Полы первого этажа утеплены экструдированным пенополистиролом толщиной 50 мм
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/otkoci.jpg"), alt="otkoci")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Стены, перегородки <br> и откосы окон 
                        p(class="text-gray normal-case") Улучшенная штукатурка цементными (в санузлах, бойлерной, гараже, кладовой) и гипсовыми (в остальных помещениях) смесями. Местами применение обшивки и коробов из ГКЛ
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/potolki.jpg"), alt="potolki")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") потолки   
                        p(class="text-gray normal-case") Без отделки. Инженерные сети по потолку в открытом виде
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/boiler.jpg"), alt="boilder")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Бойлерная
                        p(class="text-gray normal-case") Отделка стен керамической плиткой. Открытая обвязка узлов и оборудования системы отопления и водоподготовки
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/electro.jpg"), alt="electro")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Электроснабжение 
                        p(class="text-gray normal-case") Центральное, мощность до 15 кВт, напряжение 380 В. Подземный ввод в дом, распределительный щит с автоматическими выключателями, проводка под освещение и выводы розеточной сети согласно техплану
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/kanalizacia.jpg"), alt="kanalizacia")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Канализация
                        p(class="text-gray normal-case") Подключение к наружным сетям канализации, внутренняя разводка трубопроводов согласно техплану
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/otoplenie.jpg"), alt="otoplenie")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Отопление
                        p(class="text-gray normal-case") Газовый двухконтурный котел с бойлером косвенного нагрева, лучевая (поэтажно) разводка отопления с панельными металлическими радиаторами. Теплый водяной пол в помещениях первого этажа и в санузле 2-го этажа
                div(class="swiper-slide ") 
                  div(class="home-card-about__slide")
                    div(class="home-card-about__slide-left relative mb-10 lg2:mb-0")
                      img(src=require("../img/images/card-about/vodosnab.jpg"), alt="vodosnab")
                      .swiper-prev
                      .swiper-next
                    div(class="home-card-about__slide-right px-5 lg2:py-10 xl:py-20 lg2:px-6 xl:px-10 lg2:relative")
                      div(class="hidden lg2:flex gap-2.5 mb-7.5 lg2:mb-0")
                        button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
                        button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
                      div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
                        h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Водоснабжение
                        p(class="text-gray normal-case")  Центральное, с подключением к наружным сетям, по дому скрытая разводка из труб согласно техплану

                
              
        //- div(class="bg-gray-light py-10 px-5 xl:py-20 xl:px-10 xl:relative")
        //-   +back('gray')(class="xl:hidden")
        //-   div(class="flex gap-2.5 mb-7.5 xl:mb-0")
        //-     button(class="button button__round button__blue button_none-minw   w-full" data-select="what") Из чего построен
        //-     button(class="button button__round button_none-bg button_none-minw  w-full" data-select="how") Как отделан
        //-   div(class="swiper mainSwiperr home-card-about__center home-card-about-slider -mx-5 xl:mx-0 mb-15 xl:mb-20" id="photos")
        //-     div(class='swiper-wrapper')
        //-       div(class="swiper-slide ") 
        //-         img(src=require("../img/images/bg.png"), alt="")
        //-     .swiper-prev
        //-     .swiper-next  
        //-     div(class="swiper-pagination")
        //-   div(class="lg2:absolute lg2:top-1/2 lg2:pr-10")
        //-     h3(class="text-5.25-5xl text-title mb-5 xl:mb-10") Стены, перегородки  и откосы окон
        //-     p(class="text-gray normal-case") Улучшенная штукатурка цементными
        //-       | (в санузлах, бойлерной, гараже, кладовой) и гипсовыми (в остальных помещениях) смесями. Местами применение обшивки и коробов из ГКЛ   
                
      .container.px-0(class="block") 
        div(class="font-reformagrotesk text-center flex flex-wrap divide-x " )
          div.flex.w-full.divide-x
            div(class="bg-gray p-2.75 w-full lg2:text-2xl")
              a(href="#new") про ипотеку
            div(class="bg-dark p-2.75 w-full lg2:text-2xl")
              a(href="#20min") Комплектация таунхауса
            div(class="bg-green p-2.75 w-full lg2:text-2xl hidden lg2:block")
              a(href="#") забронировать таунхаус
          div(class="bg-green p-2.75 w-full lg2:text-2xl lg2:hidden  border-t border-white border-solid")
            a(href="#") забронировать таунхаус
    