extend ../layouts/layouts/other.pug


block content
    include ../components/back.pug
    include ../components/number-mini.pug
    include ../components/floors-slider.pug
    include ../components/liters.pug

    section(class="flex flex-col justify-between h-full grow ")
      .container.grow(class="flex flex-col xl:px-0")
        div(class="home-card h-full grow") 
          div(class="bg-gray-light -mx-5 px-5 pt-10  pb-25 lg:py-15 xl:p-10 flex flex-col gap-5 ")
            div(class="relative xl:-left-5")
              +back('gray')
            div(class="flex flex-col justify-between h-full")
              div
                div(class="flex gap-5 xl:flex-col mb-7.5")
                  div(class="flex")
                    +number-mini("197 м")
                    span(class="text-yellow font-reformagrotesk text-4xl xl:text-6xl mt-1 xl:mt-0")
                      |2
                  div(class="flex flex-col gap-2.5  xl:flex-row xl:gap-6 ")
                    h3(class="text-dark text-4xl xl:text-5.25-5xl") ЛИТЕР 12
                    h3(class="text-dark text-4xl xl:text-5.25-5xl") ТАУНХАУС №4
                div(class="grid mb-20 lg:mb-10 xl:mb-20  grid-cols-2 lg:grid-cols-4  xl:grid-cols-2 gap-y-5") 
                  div 
                    h3(class="text-green text-5.25-5xl") 6.78
                    p(class=" text-dark text-base lowercase") s участка, сот

                  div 
                    h3(class="text-green text-5.25-5xl") 24
                    p(class=" text-dark text-base lowercase") гараж, м <sup>2</sup>

                  div 
                    h3(class="text-green text-5.25-5xl") 3
                    p(class=" text-dark text-base lowercase") этажа

                  div 
                    h3(class="text-green text-5.25-5xl") 3
                    p(class=" text-dark text-base lowercase") спальни
              button(class="button button_yellow") Узнать цену      

          div(class="bg-yellow -mx-5 px-5 py-15 lg:pt-20 xl:mx-0 xl:pl-32 xl:pt-30 xl:pr-10 xl:pb-12")
            div(class="xl:flex xl:justify-between h-full")
              div(class="relative xl:flex xl:gap-12 lg:mb-10 xl:mb-0")
                div(class=" labels hidden xl:flex flex-col gap-5 z-10")
                  div(class="flex items-center justify-end gap-6 relative")
                    div(style="display:block" class="label__content absolute transform -translate-x-full -left-6")
                      div(class="label label-mini bg-blue-light") Таунхаус с гаражом
                    svg(width='62' height='66' viewbox='0 0 62 66' fill='none' xmlns='http://www.w3.org/2000/svg' class="label-home")
                      path(class="label__icon-contour--garage" fill='none' stroke='#BF6F0E' d='M4.49292 16.1399L4.38861 16.2022L4.2957 16.2805C2.46275 17.825 1.5 19.8727 1.5 22.1479V57.0087C1.5 61.1578 5.05315 64.5 9.22124 64.5H52.9584C57.0892 64.5 60.7067 61.1813 60.4911 56.9681V22.1479C60.4911 19.9446 59.5761 17.6337 57.6071 16.2116L57.5542 16.1734L57.4982 16.1399L35.7137 3.12419C32.9366 0.958605 29.0545 0.958604 26.2774 3.12418L4.49292 16.1399Z' stroke-width='3')
                      path(class="label__icon-figure--garage" fill='#BF6F0E' fill-rule='evenodd' clip-rule='evenodd' d='M30.5938 19.0996C30.4906 19.155 26.9949 21.3375 22.8254 23.9497C15.9612 28.2501 15.2329 28.7218 15.1222 28.9388C15.0142 29.1505 15 29.3103 15 30.3086C15 31.318 15.0134 31.4652 15.1258 31.6855C15.3162 32.0587 15.6138 32.184 16.31 32.184H16.875V40.6543V49.1246H16.31C15.8671 49.1246 15.6917 49.1518 15.4984 49.2505C15.2211 49.392 15 49.7521 15 50.0623C15 50.3725 15.2211 50.7326 15.4984 50.8742C15.7333 50.994 15.8629 51 18.2162 51H20.6875V43.8712C20.6875 36.995 20.6917 36.7341 20.8061 36.5099C20.8756 36.3735 21.0276 36.2196 21.1739 36.1373L21.4233 35.9972H30.9954C40.4654 35.9972 40.5701 35.9985 40.8141 36.123C40.9729 36.204 41.1057 36.3368 41.1867 36.4957C41.3106 36.7386 41.3125 36.8498 41.3125 43.8712V51H43.7838C46.1371 51 46.2668 50.994 46.5016 50.8742C46.7789 50.7326 47 50.3725 47 50.0623C47 49.7521 46.7789 49.392 46.5016 49.2505C46.3083 49.1518 46.1329 49.1246 45.69 49.1246H45.125V40.6543V32.184H45.69C46.3862 32.184 46.6838 32.0587 46.8742 31.6855C46.9868 31.4646 46.9999 31.3192 46.999 30.2955C46.998 29.227 46.9888 29.1363 46.8584 28.9108C46.7356 28.6986 45.8021 28.0952 39.1214 23.9097C34.9429 21.2919 31.4471 19.115 31.3529 19.072C31.1218 18.9667 30.8209 18.9777 30.5938 19.0996ZM23.9391 30.4345C24.2164 30.576 24.4375 30.9361 24.4375 31.2463C24.4375 31.5565 24.2164 31.9166 23.9391 32.0581C23.7188 32.1706 23.5717 32.184 22.5579 32.184C21.4983 32.184 21.4068 32.1747 21.1739 32.0438C20.5449 31.6903 20.5386 30.8346 21.1621 30.4571C21.3951 30.316 21.4583 30.3092 22.5494 30.3089C23.5721 30.3087 23.7184 30.3219 23.9391 30.4345ZM29.5641 30.4345C29.8414 30.576 30.0625 30.9361 30.0625 31.2463C30.0625 31.5565 29.8414 31.9166 29.5641 32.0581C29.3438 32.1706 29.1967 32.184 28.1829 32.184C27.1233 32.184 27.0318 32.1747 26.7989 32.0438C26.1699 31.6903 26.1636 30.8346 26.7871 30.4571C27.0201 30.316 27.0833 30.3092 28.1744 30.3089C29.1971 30.3087 29.3434 30.3219 29.5641 30.4345ZM35.1891 30.4345C35.4664 30.576 35.6875 30.9361 35.6875 31.2463C35.6875 31.5565 35.4664 31.9166 35.1891 32.0581C34.9688 32.1706 34.8217 32.184 33.8079 32.184C32.7482 32.184 32.6568 32.1747 32.4239 32.0438C31.7949 31.6903 31.7886 30.8346 32.4121 30.4571C32.6451 30.316 32.7083 30.3092 33.7994 30.3089C34.8221 30.3087 34.9684 30.3219 35.1891 30.4345ZM40.8141 30.4345C41.0914 30.576 41.3125 30.9361 41.3125 31.2463C41.3125 31.5565 41.0914 31.9166 40.8141 32.0581C40.5938 32.1706 40.4467 32.184 39.4329 32.184C38.3732 32.184 38.2818 32.1747 38.0489 32.0438C37.4199 31.6903 37.4136 30.8346 38.0371 30.4571C38.2701 30.316 38.3333 30.3092 39.4244 30.3089C40.4471 30.3087 40.5934 30.3219 40.8141 30.4345ZM22.5625 38.8102V39.7479H31H39.4375V38.8102V37.8725H31H22.5625V38.8102ZM22.5625 42.5609V43.4986H31H39.4375V42.5609V41.6232H31H22.5625V42.5609ZM22.5625 46.3116V47.2493H31H39.4375V46.3116V45.3739H31H22.5625V46.3116ZM22.5625 50.0623V51H31H39.4375V50.0623V49.1246H31H22.5625V50.0623Z'  )

                  div(class="flex items-center justify-end gap-6 relative")
                    div(style="display:block" class="label__content absolute transform -translate-x-full -left-6")
                      div(class="label label-mini bg-green") Энергоэффективность А
                    svg(class="label-home" width='62' height='66' viewbox='0 0 62 66' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(class="label__icon-contour--energy" d='M4.49292 16.1399L4.38861 16.2022L4.2957 16.2805C2.46275 17.825 1.5 19.8727 1.5 22.1479V57.0087C1.5 61.1578 5.05315 64.5 9.22124 64.5H52.9584C57.0892 64.5 60.7067 61.1813 60.4911 56.9681V22.1479C60.4911 19.9446 59.5761 17.6337 57.6071 16.2116L57.5542 16.1734L57.4982 16.1399L35.7137 3.12419C32.9366 0.958605 29.0545 0.958604 26.2774 3.12418L4.49292 16.1399Z' fill='#4A8D45' stroke='white' stroke-width='3')
                      path(class="label__icon-figure--energy-text" d='M35 42L32.4493 24H29.5507L27 42H29.3188L29.7246 38.6829H32.2754L32.6812 42H35ZM29.9275 36.78L30.971 27.8571L31.029 27.8829L32.0725 36.78H29.9275Z' fill='red')
                      path(class="label__icon-figure--energy" d='M23 46.5294H39M17 33.8235C17 29.8921 18.475 26.1217 21.1005 23.3417C23.726 20.5618 27.287 19 31 19C34.713 19 38.274 20.5618 40.8995 23.3417C43.525 26.1217 45 29.8921 45 33.8235C45.0013 36.2103 44.4561 38.5618 43.4112 40.6766C42.3662 42.7914 40.8526 44.6064 39 45.9661L37.916 51.4C37.7725 52.4016 37.2947 53.3155 36.5692 53.976C35.8438 54.6365 34.9188 54.9998 33.962 55H28.038C27.0812 54.9998 26.1562 54.6365 25.4308 53.976C24.7053 53.3155 24.2275 52.4016 24.084 51.4L23 45.9894C21.1468 44.6249 19.6331 42.8056 18.5883 40.687C17.5435 38.5684 16.9985 36.2136 17 33.8235Z' stroke='#245B20' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')

                  div(class="flex items-center justify-end gap-6 relative")
                    div(style="display:block" class="label__content absolute transform -translate-x-full -left-6")
                      div(class="label label-mini bg-blue-light") Забор сзади
                    svg(class="label-home" width='62' height='66' viewbox='0 0 62 66' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(class="label__icon-contour--fence" d='M4.49292 16.1399L4.38861 16.2022L4.2957 16.2805C2.46275 17.825 1.5 19.8727 1.5 22.1479V57.0087C1.5 61.1578 5.05315 64.5 9.22124 64.5H52.9584C57.0892 64.5 60.7067 61.1813 60.4911 56.9681V22.1479C60.4911 19.9446 59.5761 17.6337 57.6071 16.2116L57.5542 16.1734L57.4982 16.1399L35.7137 3.12419C32.9366 0.958605 29.0545 0.958604 26.2774 3.12418L4.49292 16.1399Z' fill='#696A6C' stroke='white' stroke-width='3')
                      path(class="label__icon-figure--fence" d='M49 46.9004C48.8075 47.242 48.4225 47.242 48.0374 47.242C47.0749 47.242 46.1123 47.242 45.1497 47.242C45.1497 47.4128 45.1497 47.4128 45.1497 47.5836C45.1497 48.4377 45.1497 49.2918 45.1497 50.1459C45.1497 50.8292 44.9572 51 44.1872 51H39.5668C38.7968 51 38.6043 50.8292 38.6043 50.1459C38.6043 49.2918 38.6043 48.4377 38.6043 47.5836V47.242H34.369V47.9253C34.369 48.6086 34.369 49.4626 34.369 50.1459C34.369 50.6584 34.1765 51 33.4064 51C31.8663 51 30.3262 51 28.5936 51C28.016 51 27.631 50.8292 27.631 50.1459C27.631 49.2918 27.631 48.4377 27.631 47.5836V47.242H23.3957V47.5836C23.3957 48.4377 23.3957 49.2918 23.3957 50.1459C23.3957 50.6584 23.2032 51 22.4331 51C20.893 51 19.3529 51 17.8128 51C17.2353 51 16.8503 50.8292 16.8503 50.1459C16.8503 49.2918 16.8503 48.4377 16.8503 47.5836V47.242H16.6577C15.6952 47.242 14.9251 47.242 13.9626 47.242C13.1925 47.242 13 47.0711 13 46.3879V43.6548C13 43.1423 13.1925 42.8007 13.9626 42.8007C14.9251 42.8007 15.6952 42.8007 16.6577 42.8007H17.0428V36.822H16.4652C15.6952 36.822 14.7326 36.822 13.9626 36.822C13.385 36.822 13.1925 36.6512 13.1925 36.1387C13.1925 35.2846 13.1925 34.2598 13.1925 33.4057C13.1925 32.8932 13.385 32.5516 14.1551 32.5516C14.9251 32.5516 15.8877 32.5516 16.6577 32.5516H17.0428C17.0428 32.3808 17.0428 32.3807 17.0428 32.2099C17.0428 31.5266 17.0428 30.6726 17.0428 29.9893C17.0428 29.6477 17.2353 29.3061 17.4278 28.9644C18.1978 28.452 18.9679 27.7687 19.5454 27.2562C19.9305 26.9146 20.3155 26.9146 20.7005 27.2562C21.4706 27.9395 22.2406 28.4519 23.0107 29.1352C23.2032 29.306 23.3957 29.6477 23.3957 29.8185C23.3957 30.6726 23.3957 31.5267 23.3957 32.3808C23.3957 32.5516 23.3957 32.7224 23.5882 32.7224C24.9358 32.7224 26.0909 32.7224 27.246 32.7224C27.246 32.7224 27.246 32.7224 27.4385 32.7224V32.3808C27.4385 31.5267 27.4385 30.8434 27.4385 29.9893C27.4385 29.6477 27.631 29.4768 27.8235 29.1352C28.5936 28.6227 29.3636 27.9395 30.1337 27.427C30.7112 27.0854 30.9037 27.0854 31.4813 27.427C32.2513 27.9395 32.8289 28.6227 33.5989 29.1352C33.984 29.4768 34.1765 29.6476 34.1765 30.1601C34.1765 31.0142 34.1765 31.8683 34.1765 32.7224H38.4118V32.3808C38.4118 31.5267 38.4118 30.8434 38.4118 29.9893C38.4118 29.6477 38.6043 29.4768 38.7968 29.1352C39.5668 28.6227 40.3369 27.9395 40.9144 27.427C41.492 27.0854 41.6845 27.0854 42.262 27.427C43.0321 27.9395 43.6096 28.6227 44.3797 29.1352C44.7647 29.4768 44.9572 29.6476 44.9572 30.1601C44.9572 31.0142 44.9572 31.8683 44.9572 32.7224H45.5348C46.3048 32.7224 47.0749 32.7224 47.8449 32.7224C48.2299 32.7224 48.615 32.7224 48.8075 33.064V36.4804C48.615 36.822 48.2299 36.9928 47.8449 36.9928C47.2674 36.9928 46.8823 36.9928 46.3048 36.9928H44.9572V42.9715C45.9198 42.9715 46.8823 42.9715 47.8449 42.9715C48.2299 42.9715 48.615 43.1424 48.8075 43.484V46.9004H49ZM22.2406 49.6335C22.2406 43.1423 22.2406 36.6512 22.2406 30.1601C22.2406 30.1601 22.2406 29.9893 22.0481 29.9893C21.4706 29.4768 20.893 29.1352 20.3155 28.6228C19.7379 29.1352 19.1604 29.4768 18.7754 29.9893C18.5829 30.1601 18.5829 30.3309 18.5829 30.5017C18.5829 36.822 18.5829 43.1424 18.5829 49.4627C18.5829 49.6335 18.5829 49.6334 18.5829 49.8042H22.2406V49.6335ZM41.877 28.6228C41.2995 29.1352 40.7219 29.4768 40.3369 29.9893C40.1444 30.1601 40.1444 30.3309 40.1444 30.5017C40.1444 36.822 40.1444 43.1424 40.1444 49.4627C40.1444 49.6335 40.1444 49.6334 40.1444 49.8042H43.8021V49.4627C43.8021 45.363 43.8021 41.4341 43.8021 37.3345C43.8021 35.1138 43.8021 32.7224 43.8021 30.5017C43.8021 30.3309 43.8021 30.1601 43.6096 30.1601C43.0321 29.4768 42.4546 28.9644 41.877 28.6228ZM33.0214 49.6335C33.0214 49.4627 33.0214 49.4626 33.0214 49.2918C33.0214 42.9715 33.0214 36.4804 33.0214 30.1601C33.0214 29.9892 33.0214 29.9893 33.0214 29.8185C32.4438 29.3061 31.8663 28.7935 31.2888 28.4519C30.7112 28.9643 30.1337 29.3061 29.7487 29.8185C29.5561 29.9893 29.5561 30.1601 29.5561 30.3309C29.5561 36.6513 29.5561 42.9715 29.5561 49.2918C29.5561 49.4626 29.5561 49.4627 29.5561 49.6335H33.0214ZM34.369 42.9715H38.6043V37.1637H34.369V42.9715ZM27.8235 37.1637H23.5882V42.9715H27.8235V37.1637ZM38.6043 44.1672H34.5615V46.0463H38.6043V44.1672ZM27.8235 44.1672H23.7807V46.0463H27.8235V44.1672ZM34.369 35.7972H38.4118V34.089H34.369V35.7972ZM23.5882 35.7972H27.631V34.089H23.5882V35.7972ZM47.6524 44.1672H45.1497V46.0463H47.6524V44.1672ZM17.0428 44.1672H14.5401V46.0463H17.0428V44.1672ZM45.1497 35.7972H47.6524V34.089H45.1497V35.7972ZM17.0428 34.089H14.5401V35.7972H17.0428V34.089Z' fill='#414141')
                      path(class="label__icon-figure--fence" d='M21.2781 34.9433C21.2781 35.285 20.893 35.6266 20.508 35.6266C20.123 35.6266 19.738 35.285 19.738 34.9433C19.738 34.6017 20.123 34.26 20.508 34.26C20.893 34.0892 21.2781 34.4309 21.2781 34.9433Z' fill='#414141')
                      path(class="label__icon-figure--fence" d='M20.3153 44.338C20.7003 44.338 21.0854 44.6795 21.0854 45.0212C21.0854 45.3628 20.7003 45.7045 20.3153 45.7045C19.9303 45.7045 19.5453 45.3628 19.5453 45.0212C19.5453 44.6795 19.9303 44.338 20.3153 44.338Z' fill='#414141')
                      path(class="label__icon-figure--fence" d='M42.6468 34.9433C42.6468 35.285 42.2618 35.6266 41.8767 35.6266C41.4917 35.6266 41.1067 35.285 41.1067 34.9433C41.1067 34.6017 41.4917 34.26 41.8767 34.26C42.2618 34.0892 42.6468 34.4309 42.6468 34.9433Z' fill='#414141')
                      path(class="label__icon-figure--fence" d='M42.6468 45.1925C42.6468 45.5341 42.2618 45.8757 41.8767 45.8757C41.4917 45.8757 41.1067 45.5341 41.1067 45.1925C41.1067 44.8508 41.4917 44.5092 41.8767 44.5092C42.2618 44.3383 42.6468 44.68 42.6468 45.1925Z' fill='#414141')
                      path(class="label__icon-figure--fence" d='M30.3262 45.1923C30.3262 44.8506 30.7112 44.5089 31.0962 44.5089C31.4813 44.5089 31.8663 44.8506 31.8663 45.1923C31.8663 45.5339 31.4813 45.8755 31.0962 45.8755C30.7112 45.8755 30.3262 45.5339 30.3262 45.1923Z' fill='#414141')
                      path(class="label__icon-figure--fence" d='M31.8663 34.9433C31.8663 35.285 31.4813 35.6266 31.0962 35.6266C30.7112 35.6266 30.3262 35.285 30.3262 34.9433C30.3262 34.6017 30.7112 34.26 31.0962 34.26C31.4813 34.0892 31.8663 34.4309 31.8663 34.9433Z' fill='#414141')

                  div(class="flex items-center justify-end gap-6 relative")
                    div(style="display:block" class="label__content absolute transform -translate-x-full -left-6")
                      div(class="label label-mini bg-red") Эксплуатируемая кровля
                    svg(class="label-home" width='62' height='66' viewbox='0 0 62 66' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(class="label__icon-contour--roof"  d='M4.49292 16.1399L4.38861 16.2022L4.2957 16.2805C2.46275 17.825 1.5 19.8727 1.5 22.1479V57.0087C1.5 61.1578 5.05315 64.5 9.22124 64.5H52.9584C57.0892 64.5 60.7067 61.1813 60.4911 56.9681V22.1479C60.4911 19.9446 59.5761 17.6337 57.6071 16.2116L57.5542 16.1734L57.4982 16.1399L35.7137 3.12419C32.9366 0.958605 29.0545 0.958604 26.2774 3.12418L4.49292 16.1399Z' fill='#A61C20' stroke='white' stroke-width='3')
                      path(class="label__icon-figure--roof" fill-rule='evenodd' clip-rule='evenodd' d='M17.0197 26.9684C17.0383 28.8231 17.0461 28.9542 17.1561 29.2381C17.5781 30.328 18.5019 31.0172 19.6686 31.1126C21.0392 31.2248 22.3462 30.3073 22.6622 29.0112C22.7275 28.7436 22.745 28.2873 22.7456 26.8363L22.7464 25H19.8732H17L17.0197 26.9684ZM24.4417 26.8363C24.4423 28.2873 24.4598 28.7436 24.525 29.0112C24.841 30.3073 26.1481 31.2248 27.5187 31.1126C28.6721 31.0183 29.6157 30.3186 30.0258 29.2539C30.1426 28.9507 30.1487 28.8508 30.1676 26.9684L30.1873 25H27.3141H24.4409L24.4417 26.8363ZM31.8746 26.8927C31.8746 28.48 31.8888 28.8319 31.9627 29.0725C32.3622 30.3736 33.5578 31.2006 34.9116 31.1123C36.1933 31.0287 37.2697 30.128 37.5352 28.9169C37.5923 28.6566 37.6122 28.1099 37.6129 26.7835L37.6138 25H34.7442H31.8746V26.8927ZM39.2544 26.8363C39.255 28.2873 39.2725 28.7436 39.3378 29.0112C39.6538 30.3073 40.9608 31.2248 42.3314 31.1126C43.4981 31.0172 44.4219 30.3279 44.844 29.2381C44.9539 28.9542 44.9617 28.8231 44.9803 26.9684L45 25H42.1268H39.2536L39.2544 26.8363ZM17.008 33.5474C17.0089 35.5029 17.0361 35.7357 17.3296 36.2979C17.6607 36.9321 18.3264 37.4767 19.0256 37.6856C19.5136 37.8313 20.2399 37.8313 20.7279 37.6856C21.4269 37.4768 22.0893 36.9388 22.4148 36.3155C22.7283 35.7151 22.7464 35.5651 22.7464 33.5759C22.7464 32.5793 22.7342 31.7639 22.7192 31.7639C22.7043 31.7639 22.5751 31.8444 22.4322 31.9428C22.0528 32.204 21.5532 32.4334 21.0683 32.5691C20.5083 32.7258 19.3096 32.736 18.7563 32.5888C18.2971 32.4667 17.6673 32.1847 17.3289 31.9496C17.1819 31.8475 17.0493 31.7639 17.0344 31.7639C17.0194 31.7639 17.0075 32.5665 17.008 33.5474ZM24.4409 33.5759C24.4409 35.5331 24.4628 35.7276 24.7472 36.2953C25.0463 36.8922 25.7696 37.4796 26.4593 37.6856C26.9473 37.8313 27.6736 37.8313 28.1616 37.6856C28.8602 37.4769 29.4833 36.9695 29.8438 36.3156C30.1434 35.7721 30.1781 35.4834 30.1792 33.521C30.1797 32.5546 30.1679 31.7639 30.1529 31.7639C30.138 31.7639 30.0054 31.8475 29.8584 31.9496C29.5255 32.1809 28.8902 32.4669 28.4583 32.58C27.9288 32.7187 27.0088 32.7459 26.4622 32.639C25.8856 32.5262 25.296 32.2923 24.8348 31.9933C24.6402 31.8671 24.472 31.7639 24.461 31.7639C24.4499 31.7639 24.4409 32.5793 24.4409 33.5759ZM31.8857 33.7239C31.9023 35.6275 31.9074 35.7115 32.025 35.9914C32.3757 36.8265 33.0848 37.4574 33.9516 37.7055C34.4192 37.8394 35.1738 37.8218 35.6363 37.6664C36.6202 37.3356 37.3179 36.5729 37.5312 35.5951C37.5928 35.3128 37.6121 34.8153 37.6129 33.4946C37.6134 32.5427 37.6012 31.7639 37.5859 31.7639C37.5705 31.7639 37.4168 31.8563 37.2443 31.9691C36.842 32.2322 36.579 32.3569 36.138 32.4938C34.7153 32.9353 33.2533 32.7025 31.9944 31.8341L31.8684 31.7471L31.8857 33.7239ZM39.2536 33.5759C39.2536 35.5439 39.2731 35.7122 39.5683 36.2962C39.8781 36.909 40.5752 37.4774 41.2721 37.6856C41.7601 37.8313 42.4864 37.8313 42.9744 37.6856C43.6736 37.4767 44.3393 36.9321 44.6704 36.2979C44.9639 35.7357 44.9911 35.5029 44.992 33.5474C44.9925 32.5665 44.9806 31.7639 44.9656 31.7639C44.9507 31.7639 44.8182 31.8475 44.6711 31.9496C44.3382 32.1809 43.7029 32.4669 43.2711 32.58C42.7416 32.7187 41.8216 32.7459 41.2749 32.639C40.6983 32.5262 40.1087 32.2923 39.6475 31.9933C39.4529 31.8671 39.2847 31.7639 39.2737 31.7639C39.2626 31.7639 39.2536 32.5793 39.2536 33.5759ZM17.008 40.1773C17.0086 41.5593 17.0265 42.0088 17.0913 42.2748C17.3918 43.5072 18.5575 44.3948 19.8731 44.3929C20.6936 44.3917 21.3152 44.1459 21.8855 43.5969C22.2948 43.203 22.5942 42.6764 22.6909 42.1801C22.7214 42.0235 22.7464 41.1119 22.7464 40.1543V38.4132L22.4807 38.6018C21.2499 39.4752 19.412 39.6417 18.0086 39.0069C17.823 38.9228 17.5216 38.756 17.3391 38.6362L17.0072 38.4182L17.008 40.1773ZM24.4409 40.2073C24.4409 41.6186 24.4579 42.0567 24.5222 42.2955C24.7847 43.2694 25.592 44.0626 26.5797 44.3167C26.9485 44.4116 27.6629 44.4141 28.0211 44.3218C29.0728 44.0507 29.9316 43.1631 30.1213 42.1511C30.1553 41.9695 30.1801 41.1184 30.1801 40.1279V38.4182L29.8482 38.6362C29.0489 39.1609 28.2912 39.3843 27.3105 39.3843C26.3328 39.3843 25.5502 39.1534 24.7599 38.6319L24.4409 38.4214V40.2073ZM31.8752 40.2322C31.8759 42.1853 31.8928 42.3342 32.1784 42.8984C32.3656 43.2683 32.87 43.7881 33.2649 44.018C33.872 44.3714 34.7496 44.4896 35.4525 44.3126C36.2081 44.1223 36.9356 43.5633 37.2728 42.9138C37.5812 42.3198 37.6171 42.0132 37.6009 40.1144L37.5865 38.425L37.2389 38.6588C36.835 38.9307 36.2488 39.1782 35.7187 39.3008C35.2071 39.419 34.312 39.4182 33.7603 39.299C33.2618 39.1912 32.5342 38.8805 32.1415 38.6078L31.8746 38.4224L31.8752 40.2322ZM39.2536 40.2073C39.2536 42.1711 39.272 42.3203 39.5883 42.9275C39.6943 43.1311 39.8988 43.3888 40.1226 43.6008C40.6995 44.1474 41.3182 44.3922 42.1232 44.3922C42.9284 44.3922 43.5475 44.1472 44.1232 43.6008C44.5202 43.2241 44.8242 42.6924 44.9329 42.1847C44.9693 42.0145 44.9928 41.2214 44.9928 40.163V38.4214L44.6738 38.6319C43.8835 39.1534 43.1009 39.3843 42.1232 39.3843C41.1455 39.3843 40.3629 39.1534 39.5726 38.6319L39.2536 38.4214V40.2073ZM17.0072 46.7657C17.0072 47.826 17.0307 48.6199 17.0671 48.7901C17.283 49.7984 18.133 50.6557 19.1741 50.9152C20.6983 51.2951 22.3015 50.3599 22.6622 48.8803C22.7271 48.6142 22.745 48.1647 22.7456 46.7827L22.7464 45.0236L22.4123 45.243C21.6499 45.7436 20.841 45.978 19.8768 45.978C18.9469 45.978 18.0404 45.7209 17.3929 45.2735C17.2559 45.1788 17.1131 45.0834 17.0755 45.0614C17.0214 45.0297 17.0072 45.3841 17.0072 46.7657ZM24.4409 46.8142C24.4409 48.2242 24.458 48.6622 24.5222 48.9009C24.8556 50.138 25.9997 50.9989 27.3105 50.9989C28.5261 50.9989 29.5558 50.2943 30.0125 49.1502C30.1485 48.8093 30.15 48.7874 30.1687 46.9121C30.1842 45.3542 30.1748 45.0262 30.1155 45.0626C30.0759 45.087 29.899 45.1987 29.7224 45.3108C29.0079 45.7648 28.2458 45.9778 27.3342 45.9784C27.0165 45.9786 26.6107 45.9528 26.4323 45.9211C25.9488 45.8352 25.3169 45.5826 24.853 45.2899L24.4409 45.0297V46.8142ZM31.8752 46.8371C31.8759 48.7942 31.8922 48.9365 32.1816 49.5124C32.2677 49.6837 32.4839 49.9583 32.6911 50.1595C33.4269 50.8742 34.41 51.1483 35.4155 50.9191C36.2462 50.7297 36.9336 50.1844 37.3214 49.4072C37.5771 48.8949 37.6118 48.5749 37.6129 46.7254L37.6138 45.0147L37.4908 45.0981C37.0625 45.3886 36.5898 45.626 36.138 45.7777C35.6347 45.9466 35.5918 45.9519 34.7442 45.9522C33.9786 45.9524 33.8187 45.9369 33.461 45.8283C32.977 45.6814 32.6176 45.5131 32.1888 45.2325L31.8746 45.0268L31.8752 46.8371ZM39.2544 46.7815C39.255 48.1645 39.2729 48.6142 39.3378 48.8803C39.6367 50.1063 40.8102 50.9989 42.1232 50.9989C43.4936 50.9989 44.7113 50.0154 44.9368 48.7266C44.9743 48.512 44.9909 47.7537 44.9811 46.7052L44.9655 45.0273L44.6922 45.219C43.2798 46.2093 41.0305 46.2349 39.6435 45.2764C39.5042 45.1801 39.3595 45.0834 39.3219 45.0614C39.2678 45.0297 39.2538 45.3872 39.2544 46.7815Z' fill='#750B0E')

                  div(class="flex items-center justify-end gap-6 relative")
                    div(style="display:block" class="label__content absolute transform -translate-x-full -left-6")
                      div(class="label label-mini bg-blue-light") Потолки 3 метра
                    svg(class="label-home" width='62' height='66' viewbox='0 0 62 66' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(class="label__icon-contour--height-ceiling" d='M4.49292 16.1399L4.38861 16.2022L4.2957 16.2805C2.46275 17.825 1.5 19.8727 1.5 22.1479V57.0087C1.5 61.1578 5.05315 64.5 9.22124 64.5H52.9584C57.0892 64.5 60.7067 61.1813 60.4911 56.9681V22.1479C60.4911 19.9446 59.5761 17.6337 57.6071 16.2116L57.5542 16.1734L57.4982 16.1399L35.7137 3.12419C32.9366 0.958605 29.0545 0.958604 26.2774 3.12418L4.49292 16.1399Z' fill='#575B41' stroke='white' stroke-width='3')
                      path(class="label__icon-figure--height-ceiling" d='M24 37.6667V39C24 40.3556 24.1462 41.0889 24.376 41.6222C24.8565 42.7778 25.7338 43 26.4231 43C27.7183 43 28.2823 42.2 28.533 41.6222C28.8463 40.9111 28.8672 40.0222 28.8672 39.2444V36.8667C28.8672 36.5333 28.8463 36.1333 28.721 35.6889C28.5538 35.1333 28.2823 34.7111 27.5929 34.4444V34.3778C27.9481 34.2889 28.1569 34.1111 28.345 33.8222C28.7627 33.1778 28.8045 32.2667 28.8045 31.4444V30.2222C28.8045 29.7556 28.7627 28.8889 28.3867 28.2C27.7809 27.0667 26.8409 27 26.3814 27C25.1071 27 24.5849 27.8667 24.376 28.3333C24.188 28.7778 24.0836 29.3778 24.0836 30.4V31.5556H25.504V29.9333C25.504 29.6222 25.504 29.2444 25.6711 28.9778C25.7965 28.8 26.0471 28.6444 26.3187 28.6444C26.6529 28.6444 26.8827 28.8 27.008 29C27.0707 29.1111 27.1752 29.3556 27.1752 29.8667V32.3111C27.1752 33.2889 26.7574 33.5556 26.4231 33.5556H25.6711V35.2H26.4858C26.7574 35.2 26.9872 35.2667 27.1334 35.7111C27.2169 35.9556 27.2378 36.2889 27.2378 36.9333V39.7333C27.2378 40.5333 27.1752 40.7556 27.1334 40.8667C27.0498 41.0889 26.8409 41.3556 26.3814 41.3556C26.068 41.3556 25.7965 41.2222 25.6294 40.8667C25.5249 40.6667 25.4622 40.3333 25.4622 39.4889V37.6667H24Z' fill='#30312C')
                      path(class="label__icon-figure--height-ceiling" d='M34.8248 42.7778L36.4542 30.1778H36.5169L36.3706 32.2444V42.7778H38V27.2222H35.4933L34.2399 37.2222H34.1982L32.9448 27.2222H30.4381V42.7778H32.0675V32.2444L31.9212 30.1778H31.9839L33.6133 42.7778H34.8248Z' fill='#30312C')
                      path(class="label__icon-figure--height-ceiling" fill-rule='evenodd' clip-rule='evenodd' d='M34 52.8984L31 57L28 52.8984L30.4804 52.8984L30.4804 47L31.5196 47L31.5196 52.8984L34 52.8984Z' fill='#30312C')
                      path(class="label__icon-figure--height-ceiling" fill-rule='evenodd' clip-rule='evenodd' d='M34 17.1016L31 13L28 17.1016L30.4804 17.1016L30.4804 23L31.5196 23L31.5196 17.1016L34 17.1016Z' fill='#30312C')

                  div(class="flex items-center justify-end gap-6 relative")
                    div(style="display:block" class="label__content absolute transform -translate-x-full -left-6")
                      div(class="label label-mini bg-blue-light") Выход на задний двор
                    svg(class="label-home" width='62' height='66' viewbox='0 0 62 66' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(class="label__icon-contour--backyard" d='M4.49292 16.1399L4.38861 16.2022L4.2957 16.2805C2.46275 17.825 1.5 19.8727 1.5 22.1479V57.0087C1.5 61.1578 5.05315 64.5 9.22124 64.5H52.9584C57.0892 64.5 60.7067 61.1813 60.4911 56.9681V22.1479C60.4911 19.9446 59.5761 17.6337 57.6071 16.2116L57.5542 16.1734L57.4982 16.1399L35.7137 3.12419C32.9366 0.958605 29.0545 0.958604 26.2774 3.12418L4.49292 16.1399Z' fill='#E1810E' stroke='white' stroke-width='3')
                      path(class="label__icon-figure--backyard" d='M24.3703 22.1357C27.8873 19.9947 30.8677 18.1873 30.9935 18.1195C31.0112 18.11 31.028 18.1006 31.0442 18.0915C31.0892 18.0664 31.1296 18.0438 31.1723 18.0274C31.551 17.8814 32.1062 18.2189 37.588 21.5524C37.8103 21.6876 38.0406 21.8276 38.2794 21.9728C41.8269 24.1297 44.8275 25.9924 44.9472 26.1121C45.263 26.4279 45.3231 26.7395 45.2807 27.8415C45.2421 28.8463 45.1544 29.2564 44.8422 29.8921C44.272 31.0533 42.9873 31.8365 41.6527 31.8365C40.7556 31.8365 40.143 31.6296 39.4375 31.0882L39.0945 30.825L38.7515 31.0882C38.0613 31.6179 37.417 31.8365 36.5466 31.8365C35.6729 31.8365 34.9325 31.5731 34.2459 31.018L34.0031 30.8217L33.6558 31.0911C33.4648 31.2393 33.1405 31.4397 32.935 31.5363L32.5614 31.7121V40.028L36.4976 40.0284C38.957 40.0286 40.5233 40.0543 40.6724 40.0968C41.0122 40.1938 41.3603 40.6117 41.4153 40.9887C41.4717 41.3753 41.288 41.8234 40.981 42.0484L40.7604 42.2101L32.5614 42.2467V50.0581H30.3402V42.2467L22.1412 42.2101L21.9206 42.0484C21.6136 41.8234 21.4299 41.3753 21.4863 40.9887C21.5413 40.6117 21.8894 40.1938 22.2293 40.0968C22.3784 40.0543 23.9446 40.0286 26.404 40.0284L30.3402 40.028V31.7121L29.9666 31.5363C29.7612 31.4397 29.4375 31.2398 29.2474 31.0923L28.9017 30.8242L28.5997 31.0612C27.9328 31.5845 27.2114 31.8345 26.3644 31.8357C25.4858 31.837 24.8433 31.6201 24.1501 31.0882L23.8071 30.825L23.4641 31.0882C22.7586 31.6296 22.146 31.8365 21.2489 31.8365C19.9126 31.8365 18.6298 31.0535 18.0576 29.8886C17.7069 29.1746 17.6391 28.8122 17.6361 27.6356C17.6335 26.5815 17.6373 26.5508 17.8046 26.2928C17.9532 26.0633 18.8151 25.5177 24.3703 22.1357Z' fill='#9B5602')
                      path(class="label__icon-figure--backyard" d='M19.2452 35.0435C18.6465 35.0435 18.1612 35.5432 18.1612 36.1595V49.2803C18.1612 49.8966 18.6465 50.3962 19.2452 50.3962C19.8438 50.3962 20.3291 49.8966 20.3291 49.2803V46.3382H23.7452V48.9421C23.7452 49.5584 24.2305 50.0581 24.8292 50.0581C25.4278 50.0581 25.9131 49.5584 25.9131 48.9421V45.2223C25.9131 44.606 25.4278 44.1064 24.8292 44.1064H20.3291V36.1595C20.3291 35.5432 19.8438 35.0435 19.2452 35.0435Z' fill='#9B5602')
                      path(class="label__icon-figure--backyard" d='M44.7672 36.1595C44.7672 35.5432 44.2819 35.0435 43.6833 35.0435C43.0846 35.0435 42.5993 35.5432 42.5993 36.1595V44.1064H38.0993C37.5007 44.1064 37.0154 44.606 37.0154 45.2223V48.9421C37.0154 49.5584 37.5007 50.0581 38.0993 50.0581C38.698 50.0581 39.1833 49.5584 39.1833 48.9421V46.3382H42.5993V49.2803C42.5993 49.8966 43.0846 50.3962 43.6833 50.3962C44.2819 50.3962 44.7672 49.8966 44.7672 49.2803V36.1595Z' fill='#9B5602')
                      path(class="label__icon-figure--backyard" d='M16 50.5566C16 49.7594 16.6277 49.1132 17.402 49.1132H45.598C46.3723 49.1132 47 49.7594 47 50.5566C47 51.3538 46.3723 52 45.598 52H17.402C16.6277 52 16 51.3538 16 50.5566Z' fill='#9B5602')

                +floors-slider

                
                
              div(class="flex flex-col gap-20 xl:justify-between ")
                
                div(class="xl:order-2") 
                  div(class="lg:flex lg:items-center lg:justify-between xl:block")
                    div(class="flex justify-between mb-9 xl:block xl:mb-10 ")
                      a(href="#" class="flex gap-5 items-center ") 
                        img(src=require("../img/icons/cube.svg"), alt="cube")
                        span(class=" underline") 3D тур
                      <svg class="lg:hidden" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="29" stroke="white" stroke-width="2"/>
                        <g>
                          <line x1="47.0457" y1="17.5749" x2="30.4707" y2="30.4695" stroke="#A61C20" stroke-width="2"/>
                          <path d="M47.0449 17.575C44.4294 19.6097 40.6597 19.1389 38.625 16.5234" stroke="#A61C20" stroke-width="2"/>
                          <path d="M45.9934 25.9951C43.9587 23.3796 44.4295 19.6099 47.0449 17.5752" stroke="#A61C20" stroke-width="2"/>
                          <line x1="13.8948" y1="43.364" x2="30.4698" y2="30.4695" stroke="white" stroke-width="2"/>
                          <path d="M13.8956 43.364C16.511 41.3293 20.2807 41.8001 22.3154 44.4155" stroke="white" stroke-width="2"/>
                          <path d="M14.9471 34.9439C16.9818 37.5594 16.511 41.3291 13.8955 43.3638" stroke="white" stroke-width="2"/>
                          <line x1="43.365" y1="47.0442" x2="30.4705" y2="30.4692" stroke="white" stroke-width="2"/>
                          <path d="M43.3645 47.0444C41.3298 44.4289 41.8006 40.6592 44.416 38.6245" stroke="white" stroke-width="2"/>
                          <path d="M34.9454 45.9929C37.5608 43.9582 41.3305 44.429 43.3652 47.0444" stroke="white" stroke-width="2"/>
                          <line x1="17.5754" y1="13.8948" x2="30.47" y2="30.4698" stroke="white" stroke-width="2"/>
                          <path d="M17.576 13.8946C19.6107 16.51 19.1399 20.2798 16.5244 22.3145" stroke="white" stroke-width="2"/>
                          <path d="M25.9951 14.9461C23.3796 16.9808 19.6099 16.51 17.5752 13.8945" stroke="white" stroke-width="2"/>
                          <circle r="3.5" transform="matrix(-1 0 0 1 30.5 30.5)" fill="white"/>
                          <circle cx="53.5" cy="10.5" r="6.5" fill="#A61C20"/>
                          <path d="M56.4395 11.6895C56.3665 12.0267 56.2503 12.3411 56.0908 12.6328C55.9313 12.9199 55.7285 13.1706 55.4824 13.3848C55.2409 13.599 54.9629 13.7676 54.6484 13.8906C54.3385 14.0091 54.0013 14.0684 53.6367 14.0684C53.2174 14.0684 52.8255 13.9909 52.4609 13.8359C52.0964 13.6764 51.7751 13.4554 51.4971 13.1729C51.2236 12.8857 51.0094 12.5462 50.8545 12.1543C50.7041 11.7624 50.6289 11.3271 50.6289 10.8486C50.6289 10.3747 50.7041 9.94173 50.8545 9.5498C51.0094 9.15788 51.2236 8.82064 51.4971 8.53809C51.7751 8.25098 52.0964 8.02767 52.4609 7.86816C52.8255 7.70866 53.2174 7.62891 53.6367 7.62891C54.0013 7.62891 54.3385 7.69043 54.6484 7.81348C54.9629 7.93197 55.2409 8.10059 55.4824 8.31934C55.7285 8.53353 55.929 8.78646 56.084 9.07812C56.2435 9.36523 56.362 9.67513 56.4395 10.0078H55.1064C55.0016 9.65234 54.8285 9.36523 54.5869 9.14648C54.3454 8.92773 54.0286 8.81836 53.6367 8.81836C53.4134 8.81836 53.1947 8.86849 52.9805 8.96875C52.7663 9.06445 52.5794 9.20345 52.4199 9.38574C52.2604 9.56803 52.1305 9.78451 52.0303 10.0352C51.9346 10.2812 51.8867 10.5524 51.8867 10.8486C51.8867 11.1494 51.9346 11.4229 52.0303 11.6689C52.1305 11.915 52.2604 12.1292 52.4199 12.3115C52.5794 12.4938 52.7663 12.6351 52.9805 12.7354C53.1947 12.8311 53.4134 12.8789 53.6367 12.8789C54.0286 12.8789 54.3454 12.7695 54.5869 12.5508C54.833 12.332 55.0062 12.0449 55.1064 11.6895H56.4395Z" fill="white"/>
                        </g>
                      </svg>
                    
                    +liters(class="mx-auto mb-10 xl:m-0 ")
                    
                    <svg class="hidden lg:block xl:hidden" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="30" cy="30" r="29" stroke="white" stroke-width="2"/>
                      <g>
                        <line x1="47.0457" y1="17.5749" x2="30.4707" y2="30.4695" stroke="#A61C20" stroke-width="2"/>
                        <path d="M47.0449 17.575C44.4294 19.6097 40.6597 19.1389 38.625 16.5234" stroke="#A61C20" stroke-width="2"/>
                        <path d="M45.9934 25.9951C43.9587 23.3796 44.4295 19.6099 47.0449 17.5752" stroke="#A61C20" stroke-width="2"/>
                        <line x1="13.8948" y1="43.364" x2="30.4698" y2="30.4695" stroke="white" stroke-width="2"/>
                        <path d="M13.8956 43.364C16.511 41.3293 20.2807 41.8001 22.3154 44.4155" stroke="white" stroke-width="2"/>
                        <path d="M14.9471 34.9439C16.9818 37.5594 16.511 41.3291 13.8955 43.3638" stroke="white" stroke-width="2"/>
                        <line x1="43.365" y1="47.0442" x2="30.4705" y2="30.4692" stroke="white" stroke-width="2"/>
                        <path d="M43.3645 47.0444C41.3298 44.4289 41.8006 40.6592 44.416 38.6245" stroke="white" stroke-width="2"/>
                        <path d="M34.9454 45.9929C37.5608 43.9582 41.3305 44.429 43.3652 47.0444" stroke="white" stroke-width="2"/>
                        <line x1="17.5754" y1="13.8948" x2="30.47" y2="30.4698" stroke="white" stroke-width="2"/>
                        <path d="M17.576 13.8946C19.6107 16.51 19.1399 20.2798 16.5244 22.3145" stroke="white" stroke-width="2"/>
                        <path d="M25.9951 14.9461C23.3796 16.9808 19.6099 16.51 17.5752 13.8945" stroke="white" stroke-width="2"/>
                        <circle r="3.5" transform="matrix(-1 0 0 1 30.5 30.5)" fill="white"/>
                        <circle cx="53.5" cy="10.5" r="6.5" fill="#A61C20"/>
                        <path d="M56.4395 11.6895C56.3665 12.0267 56.2503 12.3411 56.0908 12.6328C55.9313 12.9199 55.7285 13.1706 55.4824 13.3848C55.2409 13.599 54.9629 13.7676 54.6484 13.8906C54.3385 14.0091 54.0013 14.0684 53.6367 14.0684C53.2174 14.0684 52.8255 13.9909 52.4609 13.8359C52.0964 13.6764 51.7751 13.4554 51.4971 13.1729C51.2236 12.8857 51.0094 12.5462 50.8545 12.1543C50.7041 11.7624 50.6289 11.3271 50.6289 10.8486C50.6289 10.3747 50.7041 9.94173 50.8545 9.5498C51.0094 9.15788 51.2236 8.82064 51.4971 8.53809C51.7751 8.25098 52.0964 8.02767 52.4609 7.86816C52.8255 7.70866 53.2174 7.62891 53.6367 7.62891C54.0013 7.62891 54.3385 7.69043 54.6484 7.81348C54.9629 7.93197 55.2409 8.10059 55.4824 8.31934C55.7285 8.53353 55.929 8.78646 56.084 9.07812C56.2435 9.36523 56.362 9.67513 56.4395 10.0078H55.1064C55.0016 9.65234 54.8285 9.36523 54.5869 9.14648C54.3454 8.92773 54.0286 8.81836 53.6367 8.81836C53.4134 8.81836 53.1947 8.86849 52.9805 8.96875C52.7663 9.06445 52.5794 9.20345 52.4199 9.38574C52.2604 9.56803 52.1305 9.78451 52.0303 10.0352C51.9346 10.2812 51.8867 10.5524 51.8867 10.8486C51.8867 11.1494 51.9346 11.4229 52.0303 11.6689C52.1305 11.915 52.2604 12.1292 52.4199 12.3115C52.5794 12.4938 52.7663 12.6351 52.9805 12.7354C53.1947 12.8311 53.4134 12.8789 53.6367 12.8789C54.0286 12.8789 54.3454 12.7695 54.5869 12.5508C54.833 12.332 55.0062 12.0449 55.1064 11.6895H56.4395Z" fill="white"/>
                      </g>
                    </svg>

                  div(class="flex flex-col gap-5 lg:grid lg:grid-cols-2 xl:hidden") 
                    div(class="flex gap-5 items-center normal-case")
                      img(src=require("../img/icons/card-home/garage.svg"), alt="garage")
                      p Таунхаус с гаражом
                    div(class="flex gap-5 items-center normal-case")
                      img(src=require("../img/icons/card-home/energy.svg"), alt="energy")
                      p Энергоэффективность А
                    div(class="flex gap-5 items-center normal-case")
                      img(src=require("../img/icons/card-home/fence.svg"), alt="fence")
                      p Забор сзади
                    div(class="flex gap-5 items-center normal-case")
                      img(src=require("../img/icons/card-home/roof.svg"), alt="roof")
                      p Эксплуатируемая кровля
                    div(class="flex gap-5 items-center normal-case")
                      img(src=require("../img/icons/card-home/height-ceiling.svg"), alt="height-ceiling")
                      p Потолки 3 метра
                    div(class="flex gap-5 items-center normal-case")
                      img(src=require("../img/icons/card-home/backyard.svg"), alt="backyard")
                      p Выход на задний двор
                div(class="xl:order-1")
                  div(class="swiper fraction fractionCardSwiper")
                    .swiper-wrapper.mb-5
                      div(class="swiper-slide rounded-lg overflow-hidden fraction-card")
                        img(class="object-cover" src=require("../img/images/bg.png"), alt="")
                      div(class="swiper-slide rounded-lg overflow-hidden fraction-card")
                        img(class="object-cover" src=require("../img/images/bg.png"), alt="")
                    div(class="fraction__content")
                      div.fraction__content-navigation
                        .swiper-prev
                        .swiper-next 
                      div(class="swiper-fraction ")    
      .container.px-0(class="hidden xl:block") 
        div(class="font-reformagrotesk text-center hidden xl:flex divide-x")
            div(class="bg-dark p-2.75 w-full ")
              a(href="#new") про ипотеку
            div(class="bg-dark p-2.75 w-full ")
              a(href="#20min") Комплектация таунхауса
            div(class="bg-green p-2.75 w-full")
              a(href="#") забронировать таунхаус
    