



.book(class="relative")
  
  #pages.pages
    .page
      | ji
    .page
      div(class="page__content bg-red ")
        div(class="flex justify-between items-start") 
          h2(class="text-8xl") первый в россии <br> загородный поселок <br> с проектным финансированием
          img(src=require("../img/icons/home-rf.svg"), alt="home-rf")
        p Проектное финансирование — система, в рамках которой деньги покупателей аккумулируются на эскроу-счетах до завершения строительства. Это гарантирует 100% сохранность ваших средств.  Андерсен - первый в России загородный объект, получивший такое финансирование при поддержке банка ДОМ.РФ  
    .page
      img(src=require("../img/images/book-img/book-02.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-blue")
        h2(class="text-8xl") коммуналка <br> за полцены
        p В пул платежей входят «прямые» оплаты за газ, воду, электричество, Интернет и платеж за обслуживание поселка Управляющей компанией «Смородина». Такой порядок позволяет практически вдвое (по сравнению с платежами за городские квартиры) сократить расходы на обслуживание вашего дома
    .page
      img(src=require("../img/images/book-img/book-01.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-brown")
        h2(class="text-8xl") 22 минуты из города <br> и 2 дороги из уфы
        div 
          p Андерсен расположен в деревне Начапкино между Дёмским районом и Затоном. Выбирайте любую из 2-х дорог: через Бельский или Затонский мост.
          <br>
          
          p  К 2025 году планируется строительство нового моста, который будет выходить практически напрямую к дороге на Начапкино*.В 10-ти минутах от Андерсена находится Дёмский район с полной городской инфраструктурой: школами, детскими садами, больницами, станцией скорой помощи и многим другим.
          <br>


          p *Информация об открытии нового моста через р. Белая — <br>
            | из открытых информационноых источников 
    .page
      img(src=require("../img/images/book-img/book-03.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-green-dark")
        h2(class="text-8xl") 2023 год — <br> ввод первой очереди
        div
          p Строительство и ввод в экплуатацию таун-парка ведется очередями. В момент сдачи очереди жители увидят завершенный участок поселка с благоустройством и инфраструктурой.
          <br>
          ul
            li  2023 год — ввод 1 очереди строительства
            li  2025 год — ввод 2 очереди строительства
            li  2027 год — полное завершение строительства и благоустройства таун-парка Андерсен
    .page
      img(src=require("../img/images/book-img/book-04.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-yellow")
        h2(class="text-8xl") ТАУНХАУС ЗА <br> 28 500 РУБ/МЕС
        p Приведен расчет ипотеки по ставке 6,3% годовых для таунхауса стоимостью 8 600 000 рублей при первоначальном взносе 4 300 000 рублей и на срок 25 лет. Расчет носит предварительный характер и не является офертой   
    .page
      img(src=require("../img/images/book-img/book-01.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-bordeaux")
        h2(class="text-8xl") гараж и парковка <br> за 0 руб
        p Покупая таунхаус в Андерсене, вы приобретаете собственный земельный участок, гараж и парковочное место перед домом. <br> Согласитесь, это действительно сказка! Одна цена, равная стоимости квартиры в городе, но столько преимуществ!
    .page
      img(src=require("../img/images/book-img/book-01.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-blue")
        h2(class="text-8xl") здорово, когда <br> в поселке все есть
        div
          p Андерсен — полностью автономен. <br> В таун-парке есть все, что нужно ежедневно:
          <br>
          ul 
            li  Торговый центр и небольшие магазины
            li  Фельдшерско-акушерский пункт, лаборатории, стоматология
            li  Детский сад и начальная школа
            li  Развивашки и различные секции для детей и взрослых
            li  Салоны красоты, косметологии, аптеки
            li  Отделения банков, пункты выдачи маркетплейсов
            li  Пекарни, кафе, фермерские продукты
            li  Остановка транспорта, автомойка и шиномонтаж
    .page
      img(src=require("../img/images/book-img/book-07.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-red-light")
        h2(class="text-8xl") центральные <br> коммуникации
        div
          p Газ, электричество, вода, канализационные системы Топас <br> и Интернет уже включены в стоимость вашего таунхауса.
          <br>
          p * Независимая экспертная оценка качества воды в Начапкино показала лучшие результаты на территории Уфы и Забелья 
    .page
      img(src=require("../img/images/book-img/book-05.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-green-dark")
        h2(class="text-8xl") охрана и 100 камер <br> в посёлке
        div 
          p Безопасность жителей и особенно детей в Андерсене —безусловный приоритет. Поселок полностью огорожен, функционируют 2 КПП, на территории установлено более 100 камер видеонаблюдения, ведется патрулирование и круглосуточная охрана
          <br>
          p При проектировании таун-парка использованы средства замедления автомобильного трафика: приподнятые пешеходные переходы, сужение проезжей части в опасных местах и элементы принудительного снижения скорости (лежачий полицейский) 
    .page
      img(src=require("../img/images/book-img/book-06.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-brown")
        h2(class="text-8xl") Дизайн-поселок и <br> беззаборная среда
        div
          p Андерсен — первый поселок, где разработан и реализован дизайн-код. Это значит, что в реальности он будет точно таким, как в проекте.
          p Каждый дом сдается с благоустройством фасадной части, за которым следит управляющая компания. Заборы предусмотрены только с тыльных сторон домов для разделения участков
    .page
      img(src=require("../img/images/book-img/book-01.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-bordeaux")
        h2(class="text-8xl") Детский сад и школа <br> на территории
        p Дети — главные жители Андерсена, поэтому уже в первой очереди строительства будет открыт частный детский сад. К 2026 году в Андерсене откроется образовательный комплекс с начальной школой и детским садом
    .page
      img(src=require("../img/images/book-img/book-04.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-yellow")
        h2(class="text-8xl") Скейт-парк и 2000 м<sup>2</sup> детских пространств
        div
          p Андерсен создан увлеченными родителями, поэтому здесь  настоящая сказка для детей: разнообразные, увлекательные игровые пространства, необычные элементы для умственного, физического развития и веселья. Площадки находятся в разных частях поселка и объединяются на главной площади со скейт-парком.
          <br>
          p И главное: Андерсен — это абсолютная безопасность, позволяющая детям гулять самостоятельно  
    .page
      img(src=require("../img/images/book-img/book-04.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-red")
        h2(class="text-8xl") Спортивное звено, <br> воркаут и круговая <br> дорожка
        div
          p Андерсен поддерживает здоровый образ жизни: многофукциональная спортивная площадка, комплекс для функциональных тренингов, баскетбольная площадка, поле для мини-футбола, скейт-парк, йога-парк и круговая дорожка для бега, велоспорта и лыжных прогулок зимой. 
          <br>
          p Сказка? Нет!
          p Это Андерсен! 
    .page
      img(src=require("../img/images/book-img/book-08.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-blue-light")
        h2(class="text-8xl") отпустите детей <br> гулять без гаджетов
        div
          p Здесь дети много гуляют, гуляют одни и это безопасно:
          <br>
          ul 
            li  закрытая территория и отсутствие посторонних;
            li  патрулирование и охрана в поселке;
            li  ограничение скорости движения до 5 км/ч;
            li  100 онлайн-камер видеонаблюдения;
            li  умное и безопасное зонирование детских и спортивных пространств;
            li  неограниченное количество сценариев для игр в движении без гаджетов.
          <br>
          p  И главное: здесь нет чужих детей! Здесь каждая «банда» — своя!
    .page
      img(src=require("../img/images/book-img/book-14.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-brown")
        h2(class="text-8xl") прогулки, отдых и <br> праздники в андерсене
        div
          p Теперь чтобы встретиться с друзьями, поужинать с семьей, провести день рождения не нужно выезжать в город.
          <br>
          p Центральная площадь с амфитеатром и сценой, променад с множеством кафе и ресторанов, соседский центр станут любимым местом отдыха для всех жителей Андерсена
    .page
      img(src=require("../img/images/book-img/book-09.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-green-dark")
        h2(class="text-8xl") ремонт проще! <br> сдаем в белой отделке
        div 
          p Все таунхаусы Андерсен сдаются в получистовой отделке. <br>Вам остается только придумать, каким станет ваш дом, и выполнить минимальные декоративные работы:
          <br>
          ul 
            li  стены под маяк;
            li  стяжка пола + теплый пол;
            li  разводка электрики, водоснабжения и водоотведения; 
            li  готовая бетонная лестница;
            li  благоустройство палисадника;
            li  забор по периметру
    .page
      img(src=require("../img/images/book-img/book-10.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-yellow")
        h2(class="text-8xl") управляющая <br> компания. живите <br> без забот
        div
          p Управляющая компания «Смородина» полностью обеспечивает чистоту и порядок на территории таун-парка:
          <br>
          ul
            li  чистка дорог, уборка снега и вывоз мусора;
            li  стрижка газонов в общественных местах и обработка от клещей;
            li  обслуживание камер, шлагбаумов, уличного освещения;
            li  установка ограничителей скорости;
            li  заливка катка на центральной площади;
            li  проведение мероприятий для жителей
    .page
      img(src=require("../img/images/book-img/book-12.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-bordeaux")
        h2(class="text-8xl") бизнес в андерсене
        div 
          p Андерсен — это ваши соседи, которым, несомненно, необходимы ваши таланты и умения. 
          <br>
          p  Манюкюр, парикмахерские услуги, массаж, йога, танцы. <br>
            |Полуфабрикаты, свежая выпечка, торты, шарики, детские праздники, фотосессии.
          <br>
          p Услуги репетиторов, тренеров, нянь.
          <br>
          p  Андерсен ждет вас и предлагает уникальный формат таунхаусов с коммерческими помещениями на 1 этаже. 
          <br>
          p  Жить и работать? Конечно, в Андерсене!  
    .page
      img(src=require("../img/images/book-img/book-13.png"), alt="01" class="page__img")
    .page
      div(class="page__content bg-blue-light")
        h2(class="text-8xl") заряжайтесь тишиной <br>и свежим воздухом 
        div 
          p Андерсен — новая локация для загородного строительства. 
            | Это нетронутый уголок совсем рядом с городом. Здесь чистый воздух, красивейшие пруды и большой лесной массив.
          <br>
          p Таун-парк расположен вдали от промышленных предприятий
            | и шумных автомагистралей. В поддержку экологичности проекта здесь предусмотрена сертифицированная зарядная станция
            | для электромобилей мощностью 50 КВт
    .page 
      img(src=require("../img/images/book-img/book-14.png"), alt="01" class="page__img")
    .page 

    img(src=require("../img/icons/book-line.svg"), alt="" class=" absolute w-17.5 left-1/2 transform -translate-x-1/2 h-full" style="z-index: 1000; top: 50%; transform: translate(-50%, -50%);")
  .swiper-prev
  .swiper-next  