include ../components/flag-content.pug
include ../components/card-application.pug
section(class="pb-20 xl:pb-60" id="why")
  div(class="container-195")
    +flag-content(3)
    h2(class="text-center text-dark mb-7.5 lg2:hidden") преимущества
    h2(class="text-8xl lg2:text-9.75xl mb-7.5 lg2:mb-15") почему андерсен
  div.container-100

    div(class="swiper fraction fractionSwiper lg:hidden -mx-5")
      .swiper-wrapper
        .swiper-slide(class="grow h-full")
          div(class="bg-red h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-01.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 первый в россии загородный поселок с проектным финансированием
              p В пул платежей входят «прямые» оплаты за газ, воду, электричество, Интернет
                |  и платеж за обслуживание поселка Управляющей компанией «Смородина».
                |  Такой порядок  позволяет практически вдвое (по сравнению с платежами
                |  за городские квартиры) сократить расходы на обслуживание вашего дома
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-blue h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-02.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 22 минуты из города <br> и 2 дороги из уфы
              div
                p Андерсен расположен в деревне Начапкино между Дёмским районом
                  |  и Затоном. Выбирайте любую из 2-х дорог: через Бельский или Затонский мост.
                <br>
                p К 2025 году планируется строительство нового моста, который будет выходить практически напрямую к дороге на Начапкино*. В 10-ти минутах от Андерсена находится Дёмский район
                  |  с полной городской инфраструктурой: школами, детскими садами, больницами, станцией скорой помощи и многим другим.
                <br>
                p *Информация об открытии нового моста через р. Белая — из открытых информационноых источников 
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-brown h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/map.gif"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 22 минуты из города и 2 дороги из уфы
              div 
                p Андерсен расположен в деревне Начапкино между Дёмским районом и Затоном. Выбирайте любую из 2-х дорог: через Бельский или Затонский мост.
                br
                p К 2025 году планируется строительство нового моста, который будет выходить практически напрямую к дороге на Начапкино*. В 10-ти минутах от Андерсена находится Дёмский район с полной городской инфраструктурой: школами, детскими садами, больницами, станцией скорой помощи и многим другим.
                br
                p *Информация об открытии нового моста через р. Белая — из открытых информационноых источников 
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")

        .swiper-slide(class="grow h-full")
          div(class=" bg-green-dark h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-04.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 2023 год — ввод первой очереди
              div 
                p Строительство и ввод в экплуатацию таун-парка ведется очередями. В момент сдачи очереди жители увидят завершенный участок поселка с благоустройством и инфраструктурой.
                br
                ul 
                  li 2023 год — ввод 1 очереди строительства
                  
                  li 2025 год — ввод 2 очереди строительства
                  li 2027 год — полное завершение строительства и благоустройства таун-парка Андерсен
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-yellow h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-05.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 ТАУНХАУС ЗА 28 500 РУБ./МЕС.
              p Приведен расчет ипотеки по ставке 6,3% годовых для таунхауса стоимостью 8 600 000 рублей при первоначальном взносе 4 300 000 рублей и на срок 25 лет. Расчет носит предварительный характер и не является офертой   
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")

        

        .swiper-slide(class="grow h-full")
          div(class= " bg-bordeaux h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-06.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 гараж и парковка за 0 руб.
              p Покупая таунхаус в Андерсене, вы приобретаете собственный земельный участок, гараж и парковочное место перед домом. Согласитесь, это действительно сказка! Одна цена, равная стоимости квартиры в городе, но столько преимуществ!
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
              
        .swiper-slide(class="grow h-full")
          div(class="bg-blue h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-07.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 здорово, когда в посёлке всё есть
              div 
                p Андерсен — полностью автономен. В таун-парке есть все, что нужно ежедневно:
                br
                ul 
                  li Торговый центр и небольшие магазины
                  li Фельдшерско-акушерский пункт, лаборатории, стоматология
                  li Детский сад и начальная школа
                  li Развивашки и различные секции для детей и взрослых
                  li Салоны красоты, косметологии, аптеки
                  li Отделения банков, пункты выдачи маркетплейсов
                  li Пекарни, кафе, фермерские продукты
                  li Остановка транспорта, автомойка и шиномонтаж
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-red h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-08.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 центральные <br> коммуникации
              div 
                p Газ, электричество, вода, канализационные системы Топас и Интернет уже включены в стоимость вашего таунхауса.
                br
                p Независимая экспертная оценка качества воды в Начапкино показала лучшие результаты на территории Уфы и Забелья 
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        
        .swiper-slide(class="grow h-full")
          div(class=" bg-green-dark h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-09.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 охрана, освещение <br> и 100 камер в посёлке
              div 
                p Безопасность жителей и особенно детей в Андерсене —безусловный приоритет. Поселок полностью огорожен, функционируют 2 КПП, на территории установлено более 100 камер видеонаблюдения, ведется патрулирование и круглосуточная охрана
                br
                p При проектировании таун-парка использованы средства замедления автомобильного трафика: приподнятые пешеходные переходы, сужение проезжей части в опасных местах и элементы принудительного снижения скорости (лежачий полицейский) 
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-brown h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-10.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12") 
              h2.mb-5 Дизайн-посёлок <br> и беззаборная среда
              div
                p Андерсен — первый поселок, где разработан и реализован дизайн-код. Это значит, что в реальности он будет точно таким, как в проекте.
                br
                p  Каждый дом сдается с благоустройством фасадной части, за которым следит управляющая компания. Заборы предусмотрены только с тыльных сторон домов для разделения участков
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class=" bg-bordeaux h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-11.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 Детский сад и школа <br> на территории
              div 
                p Дети — главные жители Андерсена, поэтому уже в первой очереди строительства будет открыт частный детский сад. 
                br
                p К 2026 году в Андерсене откроется образовательный комплекс с начальной школой и детским садом
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-yellow h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-12.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 Скейт-парк и 2000 м2 <br> детских пространств
              div 
                p Андерсен создан увлеченными родителями, поэтому здесь  настоящая сказка для детей: разнообразные, увлекательные игровые пространства, необычные элементы для умственного, физического развития и веселья. Площадки находятся в разных частях поселка и объединяются на главной площади со скейт-парком.
                br
                p И главное: Андерсен — это абсолютная безопасность,  позволяющая детям гулять самостоятельно  
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-red h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-13.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 Спортивное звено, воркаут и круговая дорожка
              div 
                p Андерсен поддерживает здоровый образ жизни: многофукциональная спортивная площадка, комплекс для функциональных тренингов, баскетбольная площадка, поле для мини-футбола, скейт-парк, йога-парк и круговая дорожка для бега, велоспорта и лыжных прогулок зимой. 
                br
                p Сказка? Нет. 
                p Это Андерсен! 
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-blue h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-14.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 отпустите детей гулять без гаджетов
              div 
                p Здесь дети много гуляют одни и это безопасно:
                ul 
                  li закрытая территория и отсутствие посторонних;
                  li патрулирование и охрана в поселке;
                  li ограничение скорости движения до 5 км/ч;
                  li 100 онлайн-камер видеонаблюдения;
                  li умное и безопасное зонирование детских и спортивных пространств;
                  li неограниченное количество сценариев для игр в движении без гаджетов.
                br
                p И главное: здесь нет чужих детей. Здесь каждая «банда» — своя!
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-brown h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-15.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 прогулки, отдых и <br> праздники в андерсене
              div 
                p Теперь чтобы встретиться с друзьями, поужинать с семьей, провести день рождения не нужно выезжать в город.
                br
                p  Центральная площадь с амфитеатром и сценой, променад с множеством кафе и ресторанов, соседский центр станут любимым местом отдыха для всех жителей Андерсена
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class=" bg-green-dark h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-16.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 отделка whitebox по стандартам порадом
              div
                p Все таунхаусы Андерсен сдаются в получистовой отделке:
                br
                ul 
                  li стены под маяк;
                  li стяжка пола + теплый пол;
                  li разводка электрики, водоснабжения и водоотведения; 
                  li готовая бетонная лестница;
                  li благоустройство палисадника;
                  li забор по периметру
                br
                p Вам остается только придумать, каким станет ваш дом, и выполнить минимальные декоративные работы
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-yellow h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-17.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 управляющая компания. живите без забот
              div 
                p Управляющая компания «Смородина» полностью обеспечивает чистоту и порядок на территории таун-парка:
                br
                ul 
                  li чистка дорог, уборка снега и вывоз мусора;
                  li стрижка газонов в общественных местах и обработка от клещей;
                  li обслуживание камер, шлагбаумов, уличного освещения;
                  li установка ограничителей скорости;
                  li заливка катка на центральной площади;
                  li проведение мероприятий для жителей
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class=" bg-bordeaux h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-18.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 бизнес в андерсене
              div 
                p Андерсен — это ваши соседи, которым, несомненно, необходимы ваши таланты и умения: 
                br
                ul
                  li маникюр, парикмахерские услуги, массаж, йога, танцы;
                  li полуфабрикаты, свежая выпечка, торты;
                  li шарики, детские праздники, фотосессии;
                  li услуги репетиторов, тренеров, нянь.
                br
                p Андерсен ждет вас и предлагает уникальный формат таунхаусов с коммерческими помещениями на 1 этаже. 
                br
                p Жить и работать?
                p  Конечно, в Андерсене!  
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")
        .swiper-slide(class="grow h-full")
          div(class="bg-blue h-full px-5 pt-6 pb-10 flex flex-col justify-between")
            img(src=require("./img/images/book-img/book-19.jpg"), alt="01" class="mb-8.75 lg:mb-10")
            div(class="mb-12")
              h2.mb-5 заряжайтесь тишиной и свежим воздухом
              div 
                p Андерсен — новая локация для загородного строительства.  Это нетронутый уголок совсем рядом с городом. Здесь чистый воздух, красивейшие пруды и большой лесной массив.
                br
                p Таун-парк расположен вдали от промышленных предприятий и шумных автомагистралей. В поддержку экологичности проекта здесь предусмотрена сертифицированная зарядная станция для электромобилей мощностью 50 КВт
            div(class="fraction__content")    
              div.fraction__content-navigation
                .swiper-prev
                .swiper-next 
              div(class="swiper-fraction swiper-fraction_white ")

        //- .swiper-slide.bg-red.px-5
        //-   div(class="fraction__content")
        //-     img(src="", alt="")
        //-     div 
        //-       h2.mb-5 
        //-       p
        //-     div.fraction__content-navigation
        //-       .swiper-prev
        //-       .swiper-next 
        //-     div(class="swiper-fraction swiper-fraction_white ")

    div(class="hidden lg2:block lg2:mb-44 -bottom-15 ")
      include ../components/book.pug
    +card-application('выбрать таунхаус или дом', false)(class="z-10")

